<ion-view title="Battelier Records">
    <ion-content padding="true" class="has-header">
        <form class="list" ng-controller="battelierRecordsCtrl">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="First Name :" ng-model="login.firstName">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name :" ng-model="login.lastName">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="login.email">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button ng-click="login()" class="button button-stable button-block  icon ion-android-arrow-dropup-circle">Log in</button>
        </form>
    </ion-content>
</ion-view>
